.app-light,
.app-light a {
  background-color: #fff;
  color: #000;
}

.app-dark,
.app-dark a {
  background-color: #000;
  color: #fff;
}
a {
  text-decoration: unset;
}

.calc-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: bisque;
}

.tasks-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: blanchedalmond;
  padding: 1rem;
  max-width: 40vw;
  margin-inline: auto;
}

.task-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-form input {
  flex: 1;
}

.task-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.task-container {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-inline: 1rem;
  transition: all 0.2s linear;
  background-color: rgb(221, 221, 221);
}

.task-container:hover {
  background-color: aliceblue;
}

.task-container-completed {
  background-color: aliceblue;
}

.task-completed {
  text-decoration: line-through;
}

.task {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.action-btn {
  background: unset;
  border: unset;
  cursor: pointer;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  margin-bottom: 1rem;
  padding-block: 1rem;
}

.theme-btn {
  border: unset;
  background: unset;
  flex: 1;
  font-size: 14px;
  cursor: pointer;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}

.nav-list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.task-input {
  border: unset;
  margin-right: 0.5rem;
  padding-block: 0.5rem;
  flex: 1;
  padding-inline: 5px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.task-input-error {
  border: 1px solid red;
}

.btn {
  border: unset;
  background: unset;
  background-color: #fff;
  padding-block: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.stats-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 14px;
  color: gray;
}

.stats-count {
  font-size: 16px;
  color: dodgerblue;
}

.clear-completed {
  margin: 0;
  margin-top: -10px;
  /* transition: all 0.3s linear; */
}


